
<button (onclick)="addEmployee()">get data</button>
<div class="container">
  <h1>Employee Details</h1>
  <table class="table table-bordered table-striped">
    <thead>
      <tr>
        <th>Name</th>
        <th>Salary</th>
        <th>Age</th>
        <th>Email</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let emp of employees">
        <td>{{emp.name}}</td>
        <td>{{emp.salary}}</td>
        <td>{{emp.age}}</td>
        <td>{{emp.email}}</td>
        <td>{{emp.action}}</td>
      </tr>
    </tbody>
  </table>
  
  
 

</div>